@page "/pwReport/{Username}"
@using LedgrLogic
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="home.css" />

<!-- Header -->
<header class="site-header">
    <div class="container header-inner">
        <img src="/logo-slogan.png" alt="LEDGR — The smart way to balance business" class="brand-logo"/>
    </div>
</header>

<SideBar>
    <button @onclick="Home" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none">Dashboard</button>
    <button @onclick="CoAList" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none">Chart of Accounts List</button>
    <button @onclick="CoAForm" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none" >Chart of Accounts Form</button>
    <button @onclick="CoAEventLog" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none" >Chart of Accounts Event Log</button>
    <button @onclick="Home" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none">Manage Users</button>
    <button @onclick="PasswordReport" type="button" class="btn-nav" style="background-color: #1e1e2f; color: #FFFFFF; border: none">Password Report</button>
</SideBar>

<div class="homeDisplay">
    <div class="homeRow">
        <div class="logged-in-data" style="display: flex; justify-content: flex-end">
            <p><strong>@Username</strong></p>
            <img src="profile.png" alt="PFP" class="pfp"/>
        </div>
    </div>

    <div>
        <!-- Existing Users Table -->
        <div class="homeUserContainer">
            <h3 class="tableHeader">Password Report</h3>
            <!-- <button @onclick="CreateUser" type="button" class="btn btn-primary createUser">Create User +</button> -->
        </div>
        <table class="user-table">
            <thead>
            <tr>
                <th>Password Number</th>
                <th>Expired Password</th>
                <th>User ID</th>
            </tr>
            @for (int i = 0; i < Passwords.Count; i += 3)
            {
            int index = i;
            <tr>
                <td style="width: 300px">@Passwords[index]</td>
                <td style="width: 300px">@Passwords[index + 1]</td>
                <td style="width: 300px">@Passwords[index + 2]</td>
            </tr>
            }
            </thead>
        </table>

    </div>
</div>

@code{

    [Parameter] public string Username { get; set; }

    private List<string> Passwords = Admin.ExpiredPasswordReport();
    
    // Nav Buttons - Linked to side bar
    public void Home()
    {
        NavigationManager.NavigateTo($"/adminHome/{Username}");
    }

    public void CoAList()
    {
        NavigationManager.NavigateTo($"/CoAList/{Username}");
    }
    
    public void CoAForm()
    {
        NavigationManager.NavigateTo($"/CoAForm/{Username}");
    }
    public void CoAEventLog()
    {
        NavigationManager.NavigateTo($"/CoAEventLog/{Username}");
    }
    public void PasswordReport()
    {
        NavigationManager.NavigateTo($"/pwReport/{Username}");
    }
    
    

}